<!DOCTYPE html>
<head>
    <head>
        <title>
            TextUtils
        </title>
    </head>
    <body>
        Checking for template working
        {{name}} is the one from {{place}}

        <p><h2>Making a text analyzer</h2></p>
        <!-- <form>  action takes to the URL and method gives get/set-->
        <form method="POST" action="/analyze/">
            <textarea name='text' style="margin: 0px; width: 886px; height: 117px;">  

            </textarea><br>
            <input type="checkbox" name="tick"> Remove Punc <br>
            <input type="checkbox" name="upper"> UpperCase <br>
            <input type="checkbox" name="removenew"> Remove New Lines <br>
            <button>Analyse Text</button>
        </form>
    </body>
</head>